[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"

[packages]
django = "*"
djangorestframework = "*"
channels = "*"
psycopg2-binary = "*"
django-cockroachdb = "==3.2.*"
django-debug-toolbar = "*"
dj-database-url = "*"
requests = "*"

[requires]
